.selection {
    z-index: 1;
    width: 100%;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
}

#file-upload {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    border: dashed 5px #2A85FF;
    height: 100%;
    width: 100%;
}

.upload-file-icon {
    width: 200px;
    height: 200px;
}

.title {
    font-size: 2.5rem;
    color: var(--foreground-color-white);
}

.desc {
    font-size: 1.2rem;
    color: #2A85FF;
}