@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title,
.form-desc {
    line-height: 1.75rem;
    text-align: center;
    color: #000;
}

.form-title {
    font-weight: 600;
    font-size: 2rem;
}

form {
    padding: 2rem;
    border: 1px solid black;
    border-radius: 20px;
}

.input {
    position: relative;
    max-width: 20rem;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #858585;
    padding: 0.5rem;
    transition: all 200ms ease-in-out;
    opacity: 0.8;
}

.input-box {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    margin: 0.8rem;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
    color: #858585;
    margin-bottom: 4px;
    margin-left: 1px;
}

.input-helper {
    color: #858585;
    font-size: 1rem;
    margin-top: 6px;
    margin-left: 1px;
    visibility: hidden;
    transform: translateY(-0.5rem);
    transition: all 100ms linear;
    z-index: -1;
}

.input::placeholder {
    color: rgb(145, 145, 145);
    font-size: 1rem;
}

.input::after {
    content: attr(placeholder);
    position: absolute;
    color: #161616;
    top: 0;
    left: 0;
}

.input:focus {
    border: none;
    box-shadow: 0px 1.5px 0px 0px #72e985;
    outline: none;
}

.input:focus + .input-helper {
    visibility: visible;
    transform: translateY(0rem);
}

.input:focus::placeholder {
    visibility: hidden;
}

#submit_button {
    min-width: 300px;
    display: inline-block;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
    background: #1875ff;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875ff;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}

#submit_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

#submit_button span:after {
    content: "gging in";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

#submit_button:hover span {
    padding-right: 3.55em;
}

#submit_button:hover span:after {
    opacity: 4;
    right: 0;
}
