<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room</title>

    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/helpers.js')}}"
        defer></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/chat.js') }}"
        defer></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/rooms.js')}}"
        defer></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/search.js')}}"
        defer></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/audio.js')}}"
        defer></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='javascript/files.js')}}"
        defer></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    {% include 'sidebar.html' %}
    <nav id="sidebar">
        <div class="search-wrapper">
            <i>
                <lord-icon src="https://cdn.lordicon.com/rlizirgt.json" colors="primary:#b3c4d1" trigger="hover" />
            </i>
            <input type="search" id="search" placeholder="Search Users" data-search />
        </div>
        <div data-user-card-container>
            <div id="messages-title">Messages</div>
            {% for i in range(0, length) %}
            <div class="contact">
                <div id="profilepic">
                    {% if active[i] == True %}
                        <span class="available"></span>
                    {% endif %}
                    <img src="http://127.0.0.1:5000/profilepic/{{ rooms[i] }}" />
                </div>
                <span class="namelastmsg">
                    <p id="names" style="display:none">{{ names[i]|title }}</p>
                    <h3 class="room-name">{{ rooms[i]|title }}</h3>
                    <p class="latest-msg">{{ lastmessage[i] }}</p>
                </span>
                <p class="last-msg-time">04:44 PM</p>
            </div>
    
            {% endfor %}
        </div>
    </nav>
    <div id="rightside-panel">
        {% block content %}
        {% endblock %}
    </div>

    {# Get Username #}
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>
</body>

</html>