{% from 'form_helper.html' import displayField %} 
{% extends "prelogin-layout.html" %} 
{% block title %} Registration {% endblock %} 
{% block content%}

<div class="form">
    <h1 class="form-title">Get Started</h1>

    <form id="form" action="{{ url_for('index') }}" method="POST">

        {{ displayField("username", "Username", form.username, 'JohnDoe', autocomplete='off', autofocus=true) }}
        {{ displayField("password", "Password", form.password, '3OpU8#u4ihiyL1EGAsu2') }}
        {{ displayField("password", "Retype Password",form.confirm_password, '3OpU8#u4ihiyL1EGAsu2') }}
        {{ displayField("email", "Email Address", form.email, "johndoe@gmail.com")}}

        <div>{{ form.submit_button }}</div>

        {{ form.csrf_token }}
    </form>
</div>
{% endblock %}
