{% extends 'chat.html' %}

{% block content %}
    {# Message Area #}
   
        <div id="profile" class="invisible">
            <div id="profilepic"></div>
            <div class="profile-details">
                <h2 id="username">Kajal</h2>
                <p id="last-seen">24:08PM</p>
            </div>
        </div>
        <div id="display-messages">
        </div>

        {# Input Message #}
        <div class="input-area invisible">

            <input type="text" id="user-message" placeholder="Type Messages here ...." autocomplete="off">

            <button type="button" id="send-message" class="btn">
                <img src="{{ url_for('static', filename='icons/send.svg') }}" />
            </button>

            <button type="button" id="stop">

            </button>

            <button type="button" id="record" class="btn">
                <img src="{{ url_for('static', filename='icons/record.svg') }}" />
            </button>

            <button type="button" id="image" class="btn">
                <img src="{{ url_for('static', filename='icons/image.svg') }}" />
            </button>

            <button type="button" id="file-btn" class="btn">
                <img src="{{ url_for('static', filename='icons/clip.svg') }}" />
            </button>
        </div>
    </div>
</div>

{# Chats Templates #}
<template id='chat'>
    <div id="chat-container">
        <p id="date"></p>
        <p id="user"></p>
        <div class="flex-row">
            <div id="profilepic">
                <img />
            </div>
            <div class="flex-col">
                <p class="message"></p>
            </div>
        </div>
        <p id="time"></p>
    </div>
</template>

{# Audio Templates #}
<template data-audio-template>
    <article id="container">
        <p id="clipName"></p>
        <audio id="audio" src="" controls></audio>
        <button id="delete">Delete</button>
    </article>
</template>

{# Search Cards #}
<template data-card-template>
    <div class="contact">
        <span>
            <div id="profilepic"></div>
        </span>
        <span class="namelastmsg">
            <h3 class="room-name"></h3>
            <p class="latest-msg"></p>
        </span>
        <p class="last-msg-time">04:44 PM</p>
    </div>
</template>

{# File Template #}
<template id="file-template">
    <div class="attachment">
        <div class="icons-and-details">
            <lord-icon class="doc-icon" src="https://cdn.lordicon.com/frjgvxce.json" trigger="boomerang"></lord-icon>
            <div id="doc-details">
                <div class="doc-title"></div>
                <div class="doc-size"></div>
            </div>
        </div>
        <a class="doc-download"> <lord-icon src="https://cdn.lordicon.com/albqovim.json"
                trigger="hover"></lord-icon></a>
    </div>
</template> 
{% endblock %}